<div class="row mt-3 align-items-center" style="height: 80vh;">
    <div class="col-10 offset-1">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button mat-button (click)="openDialog()" style="color: white;">Modifica disposizione applicazioni</button>
            </div>
        </div>
        <p-carousel [value]="list" [numVisible]="3"  [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-product pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                        </div>
                        <div class="align-self-senter" *ngIf="product.name =='Mail'" align="center">
                            <a href="mailto:///">
                                <mat-icon class="icon-display"> contact_mail</mat-icon>
                                <!--
                                   <img [src]="image.mail.link" [alt]="image.mail.alt" style="max-width: 100%; max-height: 100%;">
                               -->
                            </a>
                        </div>
                        <div *ngIf="product.type == 'App' && product.name !='Mail'">
                            <h2 class="headerEllipsis" (click)="openApp();">
                                <span>Apri App Desktop</span>
                            </h2>
                        </div>
                        <div *ngIf="product.type == 'Web'">
                            <h2 class="headerEllipsis" (click)="openUrl()">
                                <span>Apri App web</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>