mat-card {
    width: 200px !important;
    height: 200px !important;
}

.cont {
    padding-top: 10px;
}

.product-item-content {
    background: white;
    border: 1px solid grey;
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
    height: 25vh;
}

.icon-display {
    transform: scale(3);
}