.nopadding {
    padding: 0px !important;
}

.nomargin {
    margin: 0px !important;
    ;
}

.background {
    background-image: url("src/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
}