<div class="container-fluid" style="margin:0!important; ">
    <app-page-spinner *ngIf="loading"></app-page-spinner>
    <div *ngIf="!loading  && !isAdmin" class="row justify-content-center" style="padding-top: 40px;">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12">
            <mat-card class="flatCard">
                <mat-card-header style="width: 100%;">
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <mat-icon style="size: 30px;">account_circle</mat-icon>
                            </mat-card-title>
                        </div>
                    </div>
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <h1>ACCOUNT</h1>
                            </mat-card-title>
                        </div>

                    </div>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list mt-2">
                        <mat-list-item role="listitem">
                            <div class="row w-100">
                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-6">
                                    <h4 class="listTileTitle listTileTexts">Nome</h4>
                                </div>
                                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-6">
                                    <h4 class="listTileTexts text">
                                        {{ user.username ? user.username : "Non presente" }}
                                    </h4>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item role="listitem">
                            <div class="row w-100">
                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-6">
                                    <h4 class="listTileTitle listTileTexts">Ruolo</h4>
                                </div>
                                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-6">
                                    <h4 class="listTileTexts text">
                                        {{ user!.role ? user!.role : "Non presente" }}
                                    </h4>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-top: 40px;" *ngIf="isAdmin && !loading">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12">
            <mat-card class="flatCard">
                <mat-card-header style="width: 100%;">
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <mat-icon style="size: 30px;">account_circle</mat-icon>
                            </mat-card-title>
                        </div>
                    </div>
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <h1>Gestione Utenti</h1>
                            </mat-card-title>
                        </div>

                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="row justify-content-center">
                        <mat-form-field style="width: 80%;" align="center" appearance="standard">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                        </mat-form-field>

                        <div class="mat-elevation-z8" style="width: 80%;">
                            <table mat-table [dataSource]="dataSource" matSort>
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                    <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                                </ng-container>
                                <!-- ROlE Column -->
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                                    <td mat-cell *matCellDef="let row"> {{row.role}} </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef style="color: black;">Azione</th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>
                              <mat-icon>delete</mat-icon>
                              <span>Elimina</span>
                            </button>
                                            <button mat-menu-item>
                              <mat-icon>description</mat-icon>
                              <span>Modifica</span>
                            </button>
                                            <button mat-menu-item>
                              <mat-icon>info</mat-icon>
                              <span>Informazioni</span>
                            </button>
                                        </mat-menu>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>