.error-message {
    color: red;
}

.background {
    background-image: url("src/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.largeCard {
    height: 100%;
    padding: 0px !important;
    border-radius: 0%;
}

.full_width-input {
    width: 100%;
}

.colors {
    background-color: #00A99D;
    color: #fff;
}

.nopadding {
    padding: 0px !important;
}

::ng-deep.ng-star-inserted {
    margin: 0px !important;
}

.nomargin {
    margin: 0px !important;
    ;
}

.marginLarge {
    margin: 8px;
}

.small {
    width: 64px;
}

.medium {
    width: 124px;
}

.large {
    width: 248px;
}