<h1 mat-dialog-title>Modifica ordine delle card</h1>
<div mat-dialog-content>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of list" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      {{item.name}}
    </div>
  </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="list">Chiudi</button>
    <button mat-button (click)="savePreferences(list)"cdkFocusInitial>Salva</button>
  </div>

  