<!-- Container della pagina -->
<div class="container-fluid  background" style="width: 100%; overflow-x: hidden;margin:0px;padding:0px">
    <div class="row justify-content-center m-0 p-0 pt-3 ">
        <div class="col-4 ">
            <button mat-icon-button style="color: white;" (click)="onSettingsRedirect()">
                    <mat-icon>account_circle</mat-icon>
                </button>
        </div>
        <div class="col-4 align-self-center " align="center">
            <img class="headerLogo" [src]="image.logo_white.link" [alt]="image.logo.alt" (click)="onHomeRedirect()">
        </div>
        <div class="col-4 " align="end">
            <button mat-icon-button style="color: white;" (click)="redirectToLogin()">
                    <mat-icon>exit_to_app</mat-icon>
                </button>
        </div>

    </div>
    <app-home-page *ngIf="this.pageType === 'home'"></app-home-page>
    <app-settings-page *ngIf="this.pageType === 'settings'"></app-settings-page>

</div>